config/configstore
config/gh
config/containers
config/github-copilot
config/google-chrome
config/iterm2/AppSupport
config/mimeapps.list
config/tmux/plugins
config/tool_state
install.conf.yaml
config/unity3d
config/dconf
config/ibus
config/monitor.xml
config/monitors.xml
config/kdeconnect
