install.conf.yaml

config/configstore
config/gh
config/containers
config/github-copilot
config/google-chrome
config/iterm2/AppSupport
config/mimeapps.list
config/tmux/plugins
config/tool_state
config/unity3d
config/dconf
config/ibus
config/monitor.xml
config/monitors.xml
config/kdeconnect
config/Unknown*
config/kde.org
config/session
config/plasma-org.kde.plasma.desktop-appletsrc
config/gtkrc 
config/gtkrc-2.0
config/kalendaracrc
config/kcmfonts 
config/kcminputrc
config/okularrc
config/krfbrc
config/Signal
config/gwenviewrc
config/plasmashellrc
