[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/dircolors-solarized"]
	path = zsh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh/plugins/zsh-nvm"]
	path = zsh/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
[submodule "shell/plugins/zsh-dogesay"]
	path = shell/plugins/zsh-dogesay
	url = https://github.com/txstc55/dogesay.git
[submodule "zsh/plugins/zsh-dogesay"]
	path = zsh/plugins/zsh-dogesay
	url = https://github.com/txstc55/dogesay.git
[submodule "zsh/plugins/dogesay"]
	path = zsh/plugins/dogesay
	url = https://github.com/txstc55/dogesay.git
