KDE
akonadi
config/Signal
config/Unknown*
config/configstore
config/containers
config/dconf
config/gh
config/github-copilot
config/google-chrome
config/gtkrc 
config/gtkrc-2.0
config/gwenviewrc
config/ibus
config/iterm2/AppSupport
config/kalendaracrc
config/kcmfonts 
config/kcminputrc
config/kconf_updaterc
config/kde.org
config/kdeconnect
config/kglobalshortcutsrc
config/kmail2rc
config/kmailsearchindexingrc
config/krfbrc
config/mimeapps.list
config/monitor.xml
config/monitors.xml
config/obs-studio
config/okularrc
config/plasma-org.kde.plasma.desktop-appletsrc
config/plasmashellrc
config/session
config/sunshine
config/tmux/plugins
config/tool_state
config/unity3d
evolution
falkon
gh-copilot
gtk-3.0
gtk-4.0
install.conf.yaml
kdedefaults
libaccounts-glib
manjaro
menus
pamac
pipewire
presenterm
pulse
self-sat
starship
terminal
tiling-assistant
user
vlc
xsettingsd
yelp
config/kate
config/katemetainfos
